# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# environment variables
.env
.env.production
.env.*
!.env.example

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# VS Code settings
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.history/

# Deployment platform directories
.vercel/
.netlify/