---
// ここでコンポーネントを読み込みます
import SpiritualTown from '../components/SpiritualTown.jsx';
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Spiritual Town</title>
	</head>
	<body>
		<SpiritualTown client:load />
	</body>
</html>