---
// src/layouts/Layout.astro
import '@/styles/global.css';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro'; // 共通化推奨
import siteData from '@/data/site.json';

interface Props {
  title?: string;
  description?: string;
}

const { title, description = siteData.description } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <title>{title ? `${title} | ${siteData.title}` : siteData.title}</title>
    <link rel="icon" href="/favicon.ico?v=2" sizes="32x32">
	<link rel="icon" type="image/avif" href="/favicon.avif">
	<link rel="icon" type="image/webp" href="/favicon.webp">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	<script defer src="https://cloud.umami.is/script.js" data-website-id="43f6bba1-d438-4869-8636-201924c6ab9e"></script>
  </head>
  <body class="bg-slate-50 antialiased pt-16">
    <Header />
    <main>
      <slot /> </main>
    <Footer />
  </body>
</html>